node_modules/
.next/
out/
dist/
build/
.cache/
.tmp/
*.log
*.tmp
*.temp
*.bak
.env
.DS_Store
npm-debug.log
yarn-error.log
debug.log
**/.parcel-cache
**/coverage
*.zip
*.tar.gz
*.config.ts
!config/default.config.ts
